@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .contact-tablet {
    display: none;
  }

  .contact-link {
    display: block;
    padding-top: var(--distance-1);
    padding-bottom: var(--distance-1);

    color: var(--desc-text-color);
    font-size: 16px;
    line-height: 1.5;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--accent-text-color);
  }

  .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .contact-item:not(:last-child) {
    margin-right: 40px;
  }

  .header-logo {
    margin-right: 76px;
  }

  /* <!--Hero section--> */

  .hero-title {
    padding-top: 188px;
  }

  /* button-index.html */
  .modal-btn {
    margin-top: 48px;
    margin-bottom: 188px;
  }

  .overlay {
    max-width: 1440px;
    height: 600px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/img-hero.jpg);
  }
  /* <!--/Hero section--> */
}
