/* ==================== Global styles ==================== */

:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #2e2f42;
  --desc-text-color: #434455;
  --accent-text-color: #4d5ae5;
  --footer-text-color: #e7e9fc;
  --hairlines-color: #e7e9fc;
  --white-color: #ffffff;
  --button-hover-color: #404bbf;
  --light-color: #f4f4fd;
  --distance-1: 24px;
  --distance-2: 48px;
  --distance-3: 120px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* .section {
  padding-top: var(--distance-3);
} */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}

.header-logo {
  display: block;

  color: var(--primary-text-color);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.heder-logo-Light {
  color: var(--light-color);
}

.header-logo-web {
  color: var(--accent-text-color);
}

.logo {
  padding-top: var(--distance-1);
  padding-bottom: var(--distance-1);
}

.hero-title {
  margin-right: auto;
  margin-left: auto;

  padding-top: 112px;
  color: var(--white-color);
  font-weight: 700;
}

.hero {
  background-color: var(--primary-text-color);
  text-align: center;
}

.btn-options {
  display: inline-block;
  align-items: center;
  border: 4px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;

  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

.modal-btn {
  padding: 16px 32px;
  background-color: var(--accent-text-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--button-hover-color);
}

.overlay {
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}

/* ==================== Modal Window ==================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 408px;
  min-height: 576px;
  padding-right: 24px;
  padding-bottom: 24px;

  padding-left: 24px;

  border-radius: 4px;
  background-color: #fcfcfc;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

/* Modal close button */
.modal-link {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--footer-text-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-link:hover,
.modal-link:focus {
  background-color: var(--button-hover-color);
}

.modal-link:hover .modal-icon,
.modal-link:focus .modal-icon {
  fill: #ffffff;
}

.modal-text {
  margin: 72px 0px 16px 0px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  text-align: center;
}

/* /Modal close button */

/* <!-- Form --> */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.33;

  letter-spacing: 0.04em;
}

.modal-form-message {
  margin-bottom: 16px;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0%, -50%);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-text-color);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 8px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  border-color: var(--accent-text-color);
  outline: none;
}

.modal-form-check-desc {
  display: flex;

  align-items: center;

  margin-bottom: 24px;
  color: #757575;
  font-size: 12px;

  line-height: 1.3;

  letter-spacing: 0.04em;
}

.modal-form-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.3;

  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;

  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  background-color: #404bbf;
  background-image: url(../images/traling_icons/Vector.svg);
  background-origin: content-box;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fotm-send {
  align-self: center;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  background-color: var(--accent-text-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fotm-send:hover,
.modal-fotm-send:focus {
  background-color: var(--button-hover-color);
}
/* <!-- /Form --> */

/* ==================== /Modal Window ==================== */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;
}

/* ==================== Our Team section 3 ==================== */

.team-section {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-card {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.team-subtitle {
  text-align: center;
}

.team-text {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.team-title {
  margin-bottom: 72px;
}

.social-list {
  display: flex;
  gap: var(--distance-1);
  justify-content: center;
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--button-hover-color);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-text-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==================== /Our Team section 3 ==================== */

/* ==================== /Global styles ==================== */
