/* ==================== Global styles ==================== */

:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #2e2f42;
  --desc-text-color: #434455;
  --accent-text-color: #4d5ae5;
  --footer-text-color: #e7e9fc;
  --hairlines-color: #e7e9fc;
  --white-color: #ffffff;
  --button-hover-color: #404bbf;
  --light-color: #f4f4fd;
  --distance-1: 24px;
  --distance-2: 48px;
  --distance-3: 120px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: var(--distance-3);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
}

/* ==================== /Global styles ==================== */
